{% extends "base.html" %}
{% block title %} Последние обновления {% endblock %}
{% block content %}
{% load thumbnail %}


<main role="main" class="container">
    <div class="row">
        <div class="col-md-3 mb-3 mt-1">
            <div class="card">
                <div class="card-body">
                    <div class="h2">
                        {% if author.get_full_name != "" %}
                        Имя автора: {{ author.get_full_name }}
                        {% else %}
                        Имя автора: не указал
                        {% endif %}
                    </div>
                    <div class="h3 text-muted">
                        Username автора: {{ username }}
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="h6 text-muted">
                            Подписчиков: {{ following_count }} <br />
                            Подписан: {{ follower_count }} 
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="h6 text-muted">
                            Количество записей: {{post_count}}
                            
                        </div>

                    </li>
                    <li class="list-group-item">
                        {% if following %}
                        <a class="btn btn-lg btn-light" 
                                href="{% url 'profile_unfollow' username %}" role="button"> 
                                Отписаться 
                        </a> 
                        {% else %}
                        <a class="btn btn-lg btn-primary" 
                                href="{% url 'profile_follow' username %}" role="button">
                        Подписаться 
                        </a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-9">

            
            {% for post in page %}
            <div class="card mb-3 mt-1 shadow-sm">
                <div class="card-body">
                    <p class="card-text">
                        
                        
                        {% include "post_item.html" with post=post %}
                    
                    </p>
                    
                </div>
            </div>
            {% endfor %}


            {% if page.has_other_pages %}
            {% include "paginator.html" with items=page paginator=paginator %}
            {% endif %}
            ****
            {% endblock %}

        </div>
    </div>
</main>